.content {
  //background: linear-gradient(#121212, #a3d9d529, #121212);
  margin-top: 10px;
}
ion-toolbar.toolbar-closed {
  height: 0px !important;
}
.timePickerModal {
  --height: auto;
  align-items: flex-end;
  --backdrop-opacity: 0.3 !important;
  --background: transparent;

  ion-datetime {
    border-radius: 22px 22px 0 0;
  }
}

.modal {

  ion-grid {
    --ion-grid-columns: 4;
  }

  .tags {
    background-color: #ccc;
    border-radius: 7px;
    padding: 5px 10px;
    color: #121212;
    font-size: 14px;

    &.selected {
      background-color: #a3d9d5;
    }
  }

  ion-row {
    &:not(:first-child, .filterRow) {
      border-top: 1px solid gray;
      padding-top: 10px;
    }
  }

  .timePickerBtn {
    width: 30%;
  }

  .filterRow {
    padding-bottom: 15px;
  }

  ion-icon {
    font-size: 25px;
  }

  .open {
    transform: translateY(-5px);

    &::part(label) {
      font-weight: 600;
    }

    &:not(ion-icon) {
      margin: 0 5px;
    }
  }
}

.actionSheet {
  --background: none;
  --background-activated: none;
  float: right;

  ion-icon {
    color: #a3d9d5;
  }
}

.search {
  --padding-start: 15px;
  position: relative;
  pointer-events: auto;
  height: 50px;

  ion-icon {
    font-size: 20px;
    color: #a3d9d5;
  }

  .filterBtn {
    position: absolute;
    right: 5%;
    --border-radius: 7px;
    height: 65%;
    opacity: 0.8;
  }
}

#popover {
  ion-row {
    margin-bottom: 1px;
  }
}

.filmContainer {
  padding: 0 0 30px;

  &.mini {
    padding: 0 0 5px;

    .border {
      padding: 3px 0;
      position: relative;
    }
  }

  &.small {
    padding: 0 0 10px;

    .border {
      position: relative;
    }
  }

  .border {
    padding: 10px 0;
    box-shadow: 0 4px 16px #a3d9d558;
    border: 1px solid #a3d9d5;
    border-radius: 7px;
    width: 90%;
    margin: 0 auto;
  }

  .filmSpecific {
    padding: 0 10px;
    position: relative;
  }

  .infoGrid {
    position: absolute;
    z-index: 5;
    width: calc(100% - 20px);
    height: 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.681), #0000);

    .infoRow {
      width: 100%;
    }

    .infoBtn {
      transform: translateY(-3px);
      color: #a3d9d5;
      color: #2ce8f4;
      font-weight: 700;
      font-size: 30px;
    }

    .new-viereck {
      display: flex;
      width: 50px;
      height: 20px;
      background: #1d979f;
      border-radius: 7px;
      font-size: 10px;
      justify-content: center;
      align-items: center;

      .new {
        color: #fff;
        font-size: 12px;
      }
    }
  }

  .new-dreieck {
    transform: translateY(-11px);
    position: absolute;
    right: -1px;
    top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-radius: 0 7px 0 0;
    border-width: 0 40px 40px 0;
    border-color: transparent #1d979f transparent transparent;
    font-size: 10px;
    opacity: 0.9;

    &.mini {
      transform: translateY(-4px);
      top: unset;
    }

    .new {
      transform: rotate(45deg);
      color: #fff;
      font-size: 12px;
      top: 6px;
      right: -39px;
      position: absolute;
    }
  }

  .titel {
    margin-bottom: 5px;
    font-weight: 600;
  }

  .OV {
    width: 20px;
    vertical-align: bottom;
    display: inline-block;
  }

  img {
    margin-bottom: 5px;
    width: 90vw;
  }

  .tagcontainer {
    margin-top: 15px;
  }

  .description {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .action {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #a3d9d5c0;
    padding-bottom: 15px;

    button {
      box-shadow: 0 1px 16px #a3d9d558;
      border: 1px solid #a3d9d5;
      border-radius: 7px;
      background-color: #0f0f0f;
      padding: 12px;
      width: 80px;

      &:first-child {
        margin-right: 5px;
      }
    }
  }

  ion-grid:not(.infoGrid) {
    margin-top: 10px;
    text-align: center;

    .saalName {
      color: #a3d9d5;
      margin: 10px 0;
    }

    .times {
      font-size: 14px;
      margin-bottom: 10px;

      @media screen and (max-width: 420px) {
        font-size: 13px;
      }
    }

    .divider {
      border-bottom: 1px solid white;
      margin-bottom: 5px;
    }
  }

  ion-icon {
    font-size: 25px;
  }

  .theaterName {
    padding: 3px 5px;
    background: #ccc;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    display: table-cell;
  }
}
