.content {
    //background: linear-gradient(#121212, #a3d9d529, #121212);
}

.filmContainer {
    padding: 15px 0 15px;

    .border {
        padding: 10px 0;
        box-shadow: 0 4px 16px #a3d9d558;
        border: 1px solid #a3d9d5;
        border-radius: 7px;
        width: 90%;
        margin: 0 auto;
    }
    .filmSpecific{
        padding: 0 10px;
    }

    .titel {
        margin-bottom: 5px;
        font-weight: 600;
    }

    .OV{
        width: 20px;
        vertical-align: bottom;
        display: inline-block;
    }

    img {
        width: 90vw;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .tagcontainer {
        margin-top: 15px;
    }

    .tags {
        background-color: #ccc;
        border-radius: 10px;
        padding: 5px 10px;
        display: inline-block;
        margin-right: 5px;
        color: #121212;
        font-size: 14px;
    }

    .description {
        display: block;
        margin-bottom: 5px;
    }

    .action {
        display: flex;
        justify-content: end;
        border-bottom: 1px solid #a3d9d5c0;
        padding-bottom: 15px;
    }

    button {
        padding: 10px;
        margin: 10px 5px 0 0;
        background-color: white;
        color: #121212;
        border-radius: 6px;
    }

    ion-grid {
        margin-top: 10px;
        text-align: center;

        // ion-row:not(.saalName, .weekdays, .last, .theaterRow) {
        //     border-bottom: 1px solid rgba(255, 255, 255, 0.318);
        // }

        .saalName {
            color: #a3d9d5;
            margin: 10px 0;
        }

        .times{
            font-size: 14px;
            margin-bottom: 10px;
        }
        .divider {
            border-bottom: 1px solid white;
            margin-bottom: 5px;
          }

    }

    ion-icon {
        font-size: 25px;
    }

    .theaterName{
        padding: 2px 5px;
        background: #ccc;
        border-radius: 5px;
        margin: 0 10px 10px 0;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        display: table-cell;
    }
}

ion-modal {

    .showcase {
        background: rgba(0, 0, 0, 0.1);
        padding: 5px 10px;
        border-radius: 5px;
        color: #777;
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        .showcase li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
        }

        .showcase li small {
            margin-left: 2px;
        }
    }

    .container {
        perspective: 1000px;
        margin-bottom: 30px;

        .screen {
            background-color: #fff;
            height: 135px;
            width: 100%;
            margin: 15px 0;
            transform: rotateX(-45deg);
            box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
        }
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .seat {
        background-color: #444451;
        height: 18px;
        width: 25px;
        margin: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .seat.selected {
        background-color: #a3d9d5;
    }

    .seat.occupied {
        background-color: red;
    }

    .seat:nth-of-type(2) {
        margin-right: 18px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 18px;
    }

    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    .showcase .seat:not(.occupied):hover {
        cursor: default;
        transform: scale(1);
    }
}