<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aktuelle Filme
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="filmContainer">
      <div class="border">
        <div class="titel">Random Filmtitel</div>
        <img
          src="https://images.unsplash.com/photo-1666919643134-d97687c1826c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80">
        <span class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis deserunt neque
          vitae tempore voluptatibus veritatis est soluta incidunt distinctio magnam. Assumenda ipsam nesciunt
          praesentium, hic magnam labore quae culpa quas!</span>
        <div class="action">
          <button>Filminfos</button>
          <button>Tickets</button>
        </div>
        <div class="separator"></div>
        <div class="tagcontainer">
          <div class="tags">FSK12</div>
          <div class="tags">Drama</div>
          <div class="tags">123 Min</div>
        </div>
      </div>
    </div>
    <div class="filmContainer">
      <div class="border">
        <div class="titel">Random Filmtitel</div>

        <img
          src="https://images.unsplash.com/photo-1682685797769-481b48222adf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80">
        <div class="tags">FSK18</div>
        <div class="tags">Horror</div>
        <div class="tags">Komödie</div>
        <div class="tags">147 Min</div>
      </div>
    </div>
    <div class="filmContainer">
      <div class="border">
        <div class="titel">Random Filmtitel</div>

        <img
          src="https://images.unsplash.com/photo-1666919643134-d97687c1826c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80">
        <div class="tags">Dauer</div>
        <div class="tags">FSK</div>
        <div class="tags">Genre</div>
      </div>
    </div>
    <div class="filmContainer">

      <div class="border">
        <div class="titel">Random Filmtitel</div>

        <img
          src="https://images.unsplash.com/photo-1666919643134-d97687c1826c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80">
        <div class="tags">Dauer</div>
        <div class="tags">FSK</div>
        <div class="tags">Genre</div>
      </div>
    </div>
  </div>

</ion-content>