.content {
  //background: linear-gradient(#121212, #a3d9d529, #121212);
  margin-top: 10px;
}
ion-toolbar.toolbar-closed {
  height: 0px !important;
}
.timePickerModal {
  --height: auto;
  align-items: flex-end;
  --backdrop-opacity: 0.3 !important;
  --background: transparent;

  ion-datetime {
    border-radius: 22px 22px 0 0;
  }
}

.modal {

  ion-grid {
    --ion-grid-columns: 4;
  }

  .tags {
    background-color: #ccc;
    border-radius: 7px;
    padding: 5px 10px;
    color: #121212;
    font-size: 14px;

    &.selected {
      background-color: #a3d9d5;
    }
  }

  ion-row {
    &:not(:first-child, .filterRow) {
      border-top: 1px solid gray;
      padding-top: 10px;
    }
  }

  .timePickerBtn {
    width: 30%;
  }

  .filterRow {
    padding-bottom: 15px;
  }

  ion-icon {
    font-size: 25px;
  }

  .open {
    transform: translateY(-5px);

    &::part(label) {
      font-weight: 600;
    }

    &:not(ion-icon) {
      margin: 0 5px;
    }
  }
}

.action-sheet {
  --background: none;
  --background-activated: none;
  float: right;

  ion-icon {
    color: #a3d9d5;
  }
}

.search {
  --padding-start: 15px;
  position: relative;
  pointer-events: auto;
  height: 50px;

  ion-icon {
    font-size: 20px;
    color: #a3d9d5;
  }

  .filterBtn {
    position: absolute;
    right: 5%;
    --border-radius: 7px;
    height: 65%;
    opacity: 0.8;
  }
}

#popover {
  ion-row {
    margin-bottom: 1px;
  }
}

.film-container {
  padding: 0 0 5px;

  .border {
    padding: 3px 0;
    position: relative;
    box-shadow: 0 4px 16px #a3d9d558;
    border: 1px solid #a3d9d5;
    border-radius: 7px;
    width: 90%;
    margin: 0 auto;
  }

  .new-dreieck {
    transform: translateY(-4px);    position: absolute;
    right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-radius: 0 7px 0 0;
    border-width: 0 40px 40px 0;
    border-color: transparent #1d979f transparent transparent;
    font-size: 10px;
    opacity: 0.9;

    .new {
      transform: rotate(45deg);
      color: #fff;
      font-size: 12px;
      top: 6px;
      right: -39px;
      position: absolute;
    }
  }

  img {
    border-radius: 5px;
    height: 40px;
    width: auto;
  }
}