.content {
    //background: linear-gradient(#121212, #a3d9d529, #121212);
}

.custom-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    pointer-events: none;
    align-items: center;
    z-index: 9999;
}

.timePickerModal {
    --background: rgba(0, 0, 0, 0.3);
}

.timePicker {
    position: absolute;
    bottom: 0;
}

.modal {
    width: 85%;
    height: 80%;
    margin: auto;
    border-radius: 7px;

    ion-grid {
        --ion-grid-columns: 4;
    }

    .tags {
        background-color: #ccc;
        border-radius: 7px;
        padding: 5px 10px;
        color: #121212;
        font-size: 14px;

        &.selected {
            background-color: #a3d9d5;
        }
    }

    ion-row {
        &:not(:first-child, .filterRow) {
            border-top: 1px solid gray;
            padding-top: 10px;
        }
    }

    .timePickerBtn {
        width: 30%;
    }

    .filterRow {
        padding-bottom: 15px;
    }

    ion-icon {
        font-size: 25px;
    }

    .open {
        transform: translateY(-5px);
    }
}

.actionSheet {
    --background: none;
    --background-activated: none;
    float: right;

    ion-icon {
        color: #a3d9d5;
    }
}

.search {
    --padding-start: 15px;
    position: relative;
    pointer-events: auto;

    ion-icon {
        font-size: 20px;
        color: #a3d9d5;
    }

    .filterBtn {
        position: absolute;
        right: 5%;
        --border-radius: 7px;
        height: 65%;
        opacity: .8;
    }
}

.filmContainer {
    padding: 0 0 30px;


    &.small {
        padding: 0 0 10px;
    }

    .border {
        padding: 10px 0;
        box-shadow: 0 4px 16px #a3d9d558;
        border: 1px solid #a3d9d5;
        border-radius: 7px;
        width: 90%;
        margin: 0 auto;
    }

    .filmSpecific {
        padding: 0 10px;
    }

    .new-dreieck {
        z-index: 10;
        position: absolute;
        transform: translateY(-11px);
        right: 5%;
        width: 0;
        height: 0;
        border-style: solid;
        border-radius: 7px;
        border-width: 0 40px 40px 0;
        border-color: transparent #1d979f transparent transparent;
        font-size: 10px;
        opacity: .9;

        &.small {
            right: 6%;
        }

        .new {
            transform: rotate(45deg);
            color: #fff;
            font-size: 12px;
            top: 6px;
            right: -38px;
            position: absolute;
        }
    }

    .titel {
        margin-bottom: 5px;
        font-weight: 600;
    }

    .OV {
        width: 20px;
        vertical-align: bottom;
        display: inline-block;
    }

    img {
        width: 90vw;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .tagcontainer {
        margin-top: 15px;
    }

    .description {
        display: block;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    .action {
        display: flex;
        justify-content: end;
        border-bottom: 1px solid #a3d9d5c0;
        padding-bottom: 15px;

        button{
            box-shadow: 0 1px 16px #a3d9d558;
            border: 1px solid #a3d9d5;
            border-radius: 7px;
            background-color: #0F0F0F;
            padding: 12px;
            width: 80px;

            &:first-child{
                margin-right: 5px;
            }
        }
    }

    ion-grid {
        margin-top: 10px;
        text-align: center;

        .saalName {
            color: #a3d9d5;
            margin: 10px 0;
        }

        .times {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .divider {
            border-bottom: 1px solid white;
            margin-bottom: 5px;
        }
    }

    ion-icon {
        font-size: 25px;
    }

    .theaterName {
        padding: 2px 5px;
        background: #ccc;
        border-radius: 5px;
        margin: 0 10px 10px 0;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        display: table-cell;
    }
}