<ion-backdrop *ngIf="isModalOpen" style="opacity: 0.3; z-index: 11; height: 200%" (ionBackdropTap)="cancel()"></ion-backdrop>
<ion-text
  *ngIf="films.length === 0 && loadingService.isLoading === false"
  style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 999">
  Keine Filme verfügbar
</ion-text>
<div *ngIf="errorMessage">{{ errorMessage }}</div>

<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start">
      <ion-button class="actionSheet" (click)="presentActionSheet()" slot="icon-only">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </div>
    <ion-title> Aktuelle Filme </ion-title>
    <div slot="end">
      <ion-button class="actionSheet" (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
  <app-search
    [isOpen]="isSearchOpen"
    [isReload]="isReload"
    (setOpenEvent)="setOpen($event)"
    [showFilterButton]="true"
    [formData]="formData"
    [excludedProperties]="excluded"
    (newFilmsChange)="search($event)"></app-search>
</ion-header>

<!-- Filter Modal -->
<app-filter
  [isModalOpen]="isModalOpen"
  [filmCount]="films.length"
  (setOpenEvent)="setOpen($event)"
  (filtersChanged)="onFiltersChanged($event)"
  (resetFilters)="onResetFilters()">
</app-filter>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"><ion-refresher-content></ion-refresher-content>
</ion-refresher>
  <!-- Detailview -->
  <div *ngIf="detailView[0]" class="content">
    @if (!loadingService.isLoading) {
    <div class="filmContainer" *ngFor="let film of films; let i = index; let first = first">
      <div class="border" [ngStyle]="{'margin-top.px': (!isSearchOpen && first) ? 10 : null}" *ngIf="hasScreenings(film)">
        <div class="filmSpecific">
          <ion-grid class="infoGrid">
            <ion-row class="infoRow" *ngIf="!showTrailer[film.system_id]">
              <ion-col *ngIf="film.film_ist_ov === '1'" class="titel ion-text-left">
                OV
                <ion-img class="OV" src="assets/images/united-kingdom.png" alt="England Flagge"></ion-img>
              </ion-col>
              <ion-col *ngIf="film.film_ist_ov !== '1'" class="titel ion-text-left">
                <div class="OV"></div>
              </ion-col>
              <ion-col style="display: flex; justify-content: center">
                <div *ngIf="film.film_neu === 'NEU'" class="new-viereck">
                  <div class="new">NEU</div>
                </div>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-icon class="infoBtn" [id]="'popover' + film.system_id" name="information-circle-outline"></ion-icon>
              </ion-col>
              <ion-popover [trigger]="'popover' + film.system_id" id="popover">
                <ng-template>
                  <ion-content>
                    <ion-grid>
                      <ion-row *ngIf="film.film_titel">
                        <b>Titel:</b>
                      </ion-row>
                      <ion-row *ngIf="film.film_titel">
                        <ion-col>{{ film.film_titel }}</ion-col>
                      </ion-row>
                      <ion-row *ngIf="film.film_dauer">
                        <b>Dauer:</b>
                      </ion-row>
                      <ion-row *ngIf="film.film_dauer">
                        <ion-col>{{ film.film_dauer! | transformTime }}</ion-col>
                      </ion-row>
                      <ion-row *ngIf="film.film_fsk">
                        <b>FSK:</b>
                      </ion-row>
                      <ion-row *ngIf="film.film_fsk">
                        <ion-col>{{ film.film_fsk }}</ion-col>
                      </ion-row>
                      <ion-row *ngIf="film.film_tags">
                        <b>Tags:</b>
                      </ion-row>
                      <ion-row *ngIf="film.film_tags">
                        <ion-col>
                          <span *ngFor="let tag of film.film_tags; let isLast = last"> {{ tag.text }}<span *ngIf="!isLast">, </span> </span>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="film.film_centerstart_zeit">
                        <b>Im Kino seit:</b>
                      </ion-row>
                      <ion-row *ngIf="film.film_centerstart_zeit">
                        <ion-col>{{ film.film_centerstart_zeit }}</ion-col>
                      </ion-row>
                      <ion-row *ngIf="film.film_darsteller">
                        <b>Darsteller:</b>
                      </ion-row>
                      <ion-row *ngIf="film.film_darsteller">
                        <ion-col> {{ film.film_darsteller | extractText }} </ion-col>
                      </ion-row>
                      <ion-row *ngIf="film.film_regisseure">
                        <b>Regisseure:</b>
                      </ion-row>
                      <ion-row *ngIf="film.film_regisseure">
                        <ion-col> {{ film.film_regisseure! | extractText }} </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-row>
          </ion-grid>
          <ion-button
            *ngIf="showTrailer[film.system_id]"
            (click)="showTrailers(film)"
            fill="clear"
            style="position: absolute; z-index: 10; margin-top: -5px">
            <ion-icon name="chevron-back"></ion-icon>
          </ion-button>
          <!-- TODO find good unit for height-->
          <video *ngIf="showTrailer[film.system_id]" controls style="height: 120.3vmin; width: 85vw" poster="{{film.trailerPreviewUrl}}">
            <source src="{{film.trailerUrl}}" />
          </video>
          <img
            style="height: 119vmin"
            *ngIf="!showTrailer[film.system_id]"
            src="{{film.film_cover_src}}"
            (click)="showTrailers(film)"
            alt="Film Cover von {{film.film_titel}}"
            loading="lazy" />
          <span class="description">{{film.film_beschreibung | extractText}}</span>
        </div>
        <!-- TODO ab hier nur accordion anstatt opentimes -->
        <div (click)="openTimes(film.system_id, i)" style="display: flex; margin-top: 10px; justify-content: center">
          <ion-icon *ngIf="!isTimesOpen[film.system_id]" name="chevron-down"></ion-icon>
          <ion-icon *ngIf="isTimesOpen[film.system_id]" name="chevron-up"></ion-icon>
        </div>

        <ion-grid *ngIf="isTimesOpen[film.system_id]" [id]="'gridRef-' + i">
          <ion-row class="weekdays">
            <ion-col *ngFor="let weekday of film.film_wochentage"> {{ weekday?.tag_text }} </ion-col>
          </ion-row>

          <ng-container *ngFor="let theater of film.theater">
            <ng-container *ngIf="hasScreeningsForTheater(theater)">
              <ion-row class="theaterRow">
                <ion-col><span class="theaterName">{{ theater.theater_name }}</span></ion-col>
              </ion-row>
              <ng-container *ngFor="let leinwand of theater.leinwaende">
                <ng-container *ngIf="hasScreeningsForLeinwand(leinwand)">
                  <ion-row>
                    <ion-col>
                      <ion-row class="saalName">
                        <ion-col>{{ leinwand.leinwand_name }} <span *ngIf="hasFlagName(leinwand, 'mU')">mU</span></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col *ngFor="let weekday of film.film_wochentage">
                          <ng-container *ngIf="leinwand.vorstellungen">
                            <div *ngFor="let vorstellung of leinwand.vorstellungen">
                              <ng-container
                                *ngIf="vorstellung.tag_der_woche === weekday.tag_der_woche && startTime <= vorstellung.uhrzeit && formattedEndTime >= vorstellung.uhrzeit">
                                <div
                                  *ngIf="!vorstellung.deaktiviert && !vorstellung.ausgegraut; else greyVorstellung"
                                  (click)="openExternalWebsite(vorstellung.href!)"
                                  [ngStyle]="{'color': getColor(vorstellung.belegung_ampel)}"
                                  class="times">
                                  {{ vorstellung.uhrzeit }}
                                </div>
                                <ng-template #greyVorstellung>
                                  <div [ngStyle]="{'color': 'grey'}" class="times">{{ vorstellung.uhrzeit }}</div>
                                </ng-template>
                              </ng-container>
                              <!-- TODO Überlegen ob Zeiten ausgrauen oder entfernen-->
                              <!-- <ng-container
                                *ngIf="vorstellung.tag_der_woche === weekday.tag_der_woche && startTime <= vorstellung.uhrzeit && formattedEndTime >= vorstellung.uhrzeit && !vorstellung.ausgegraut && !vorstellung.deaktiviert">
                                <div (click)="openExternalWebsite(vorstellung.href!)"
                                  [ngStyle]="{'color': getColor(vorstellung.belegung_ampel)}" class="times">
                                  {{ vorstellung.uhrzeit }}
                                </div>
                              </ng-container> -->
                            </div>
                          </ng-container>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ion-grid>
      </div>
    </div>
    } @else {
    <div class="filmContainer" *ngFor="let n of [1, 2, 3, 4, 5]; let first = first">
      <div class="border" [ngStyle]="{'margin-top.px': (!isSearchOpen && first) ? 10 : null}">
        <div class="filmSpecific">
          <ion-skeleton-text animated style="height: 120.3vmin; width: 85vw"></ion-skeleton-text>
          <span class="description">
            <ion-skeleton-text animated style="width: 100%; height: 20px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%; height: 20px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%; height: 20px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 20px"></ion-skeleton-text>
          </span>
        </div>
      </div>
    </div>
    }
  </div>

  <!-- Kurzview -->
  <!-- TODO Add info Button-->
  <div *ngIf="detailView[1]" class="content">
    @if (!loadingService.isLoading) {
    <ion-grid *ngFor="let film of films; let i = index; let first = first" style="padding-top: 0">
      <div class="filmContainer small" [ngStyle]="{'margin-top.px': (!isSearchOpen && first) ? 10 : null}">
        <div class="border">
          <ion-row style="justify-content: center; text-align: center; font-size: 17px; font-weight: 700; margin-bottom: 10px; color: #a3d9d5">
            {{film.film_titel}}
            <span *ngIf="film.film_ist_ov === '1'" style="margin-left: 5px">
              <ion-img class="OV" src="assets/images/united-kingdom.png" alt="England Flagge"> </ion-img>
            </span>
            <div *ngIf="film.film_neu === 'NEU'" class="new-dreieck small">
              <div class="new">NEU</div>
            </div>
          </ion-row>
          <ion-row style="padding: 0 10px">
            <ion-col size="4">
              <img
                loading="lazy"
                src="{{film.film_cover_src}}"
                (click)="openExternalWebsite(film.filminfo_href)"
                alt="Film Cover von {{film.film_titel}}" />
            </ion-col>
            <ion-col class="description" size="8" *ngIf="!showFull[i]" (click)="showFull[i] = true">
              {{ ((film.film_beschreibung | extractText).length > 125 ? ((film.film_beschreibung | extractText).slice(0, 125) + '...') :
              (film.film_beschreibung | extractText)) }}
            </ion-col>
            <ion-col class="description" size="8" *ngIf="showFull[i]" (click)="showFull[i] = false"
              >{{ film.film_beschreibung | extractText}}
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
    } @else {
    <ion-grid *ngFor="let n of [1, 2, 3, 4, 5]" style="padding-top: 0">
      <div class="filmContainer small">
        <div class="border">
          <ion-row style="justify-content: center; text-align: center; font-size: 17px; font-weight: 700; margin-bottom: 10px; color: #a3d9d5">
            <span style="padding: 0 5px">
              <ion-skeleton-text animated style="width: 100px; height: 20px"></ion-skeleton-text>
            </span>
            <span style="margin-left: 5px">
              <ion-skeleton-text animated style="width: 20px; height: 20px"></ion-skeleton-text>
            </span>
          </ion-row>
          <ion-row style="padding: 0 10px">
            <ion-col size="4">
              <ion-skeleton-text animated style="width: 100%; height: 150px"></ion-skeleton-text>
              <span style="display: flex; justify-content: center; color: #a3d9d5">
                <ion-skeleton-text animated style="width: 70px; height: 20px"></ion-skeleton-text>
              </span>
            </ion-col>
            <ion-col class="description" size="8">
              <ion-skeleton-text animated style="width: 100%; height: 20px"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%; height: 20px"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%; height: 20px"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%; height: 20px"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%; height: 20px"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
    }
  </div>

  <!-- Miniview -->
  <div *ngIf="detailView[2]" class="content">
    @if (!loadingService.isLoading) {
    <ion-grid *ngFor="let film of films; let i = index; let first = first" style="padding-top: 0">
      <div class="filmContainer mini" *ngIf="film.film_ist_ov === '0'" [ngStyle]="{'margin-top.px': (!isSearchOpen && first) ? 10 : null}">
        <div class="border">
          <ion-row>
            <div *ngIf="film.film_neu === 'NEU'" class="new-dreieck mini">
              <div class="new">NEU</div>
            </div>
          </ion-row>
          <ion-row>
            <ion-col size="1">
              <img
                src="{{film.film_cover_src}}"
                (click)="openExternalWebsite(film.filminfo_href)"
                style="width: 10vw"
                alt="Film Cover von {{film.film_titel}}"
                loading="lazy" />
            </ion-col>
            <ion-col
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 17px;
                font-weight: 700;
                margin-bottom: 10px;
                padding: 0 30px;
                color: #a3d9d5;
              "
              >{{film.film_titel}}</ion-col
            >
          </ion-row>
        </div>
      </div>
    </ion-grid>
    } @else {
    <ion-grid *ngFor="let n of [1, 2, 3, 4, 5]" style="padding-top: 0">
      <div class="filmContainer mini">
        <div class="border">
          <ion-row>
            <ion-col size="1">
              <ion-skeleton-text animated style="width: 30px; height: 40px"></ion-skeleton-text>
            </ion-col>
            <ion-col
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 17px;
                font-weight: 700;
                margin-bottom: 10px;
                padding: 0 30px;
                color: #a3d9d5;
              ">
              <ion-skeleton-text animated style="width: 90%; height: 20px"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
    }
  </div>
</ion-content>
