<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Aktuelle Filme </ion-title>
    <div>
      <ion-button class="actionSheet" (click)="presentActionSheet()" slot="icon-only"><ion-icon
          name="ellipsis-vertical"></ion-icon></ion-button>
    </div>
  </ion-toolbar>

  <ion-input #searchInput placeholder="Suche" [(ngModel)]="searchQuery" [clearInput]="true"
    style="--padding-start: 15px" (ngModelChange)="onSearchChange($event)">
    <ion-label style="padding-left: 15px;">
      <ion-icon name="search" style="font-size: 20px; color: #a3d9d5;"></ion-icon>
    </ion-label>
  </ion-input>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!detailView" class="content">
    <ion-grid *ngFor="let film of filteredFilms; let i = index">
      <div class="filmContainer small">
        <div class="border">
          <ion-row style="
              justify-content: center;
              font-size: 17px;
              font-weight: 700;
              margin-bottom: 10px;
              color: #a3d9d5;">
            {{film.film_titel}}
            <span *ngIf="film.film_ist_ov === '1'" style="margin-left: 5px;">
              <ion-img class="OV" src="assets/images/united-kingdom.png">
              </ion-img>
            </span>
            <span *ngIf="film.film_neu === 'NEU'" style="margin-left: 5px;">
              <div class="new-dreieck">
                <div class="new">NEU</div>
              </div>
            </span>
          </ion-row>
          <ion-row style="padding: 0 10px">
            <ion-col size="4">
              <ion-img src="{{film.film_cover_src}}"></ion-img>
            </ion-col>
            <ion-col class="description" size="8" *ngIf="!showFull[i]" (click)="showFull[i] = true">
              {{ ((film.film_beschreibung | extractText).length > 125 ?
                 ((film.film_beschreibung | extractText).slice(0, 125) + '...') : (film.film_beschreibung | extractText)) }}
            </ion-col>
            <ion-col class="description" size="8" *ngIf="showFull[i]" (click)="showFull[i] = false">{{ film.film_beschreibung |
              extractText}}
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </div>
  <div *ngIf="detailView" class="content">
    <div class="filmContainer" *ngFor="let film of filteredFilms; let i = index">
      <div class="border">
        <div class="filmSpecific">
          <span *ngIf="film.film_neu === 'NEU'">
            <div class="new-dreieck">
              <div class="new">NEU</div>
            </div>
          </span>
          <div *ngIf="film.film_ist_ov === '1'" class="titel">
            OV
            <ion-img class="OV" src="assets/images/united-kingdom.png"></ion-img>
          </div>
          <img src="{{film.film_cover_src}}" style="height: 50vh" />
          <span class="description">{{film.film_beschreibung | extractText}}</span>
          <div class="action">
            <!-- <button>Filminfos</button>
            <button>Tickets</button> -->
          </div>
        </div>
        <!-- <div class="tagcontainer">
          <div class="tags">FSK12</div>
          <div class="tags">Drama</div>
          <div class="tags">123 Min</div>
        </div> -->
        <div (click)="openTimes(i)" style="display: flex; margin-top: 10px; justify-content: center">
          <ion-icon *ngIf="!isOpen[i]" name="chevron-down"></ion-icon>
          <ion-icon *ngIf="isOpen[i]" name="chevron-up"></ion-icon>
        </div>

        <ion-grid *ngIf="isOpen[i]" [id]="'gridRef-' + i">
          <ion-row class="weekdays">
            <ion-col *ngFor="let weekday of film.film_wochentage">
              {{ weekday?.tag_text }}
            </ion-col>
          </ion-row>

          <ng-container *ngFor="let theater of film.theater">
            <ion-row class="theaterRow">
              <ion-col><span class="theaterName">{{ theater.theater_name }}</span></ion-col>
            </ion-row>
            <ng-container *ngFor="let leinwand of theater.leinwaende">
              <ion-row>
                <ion-col *ngIf="film.film_ist_ov === '1' || !hasFlagName(leinwand, 'OV')">
                  <ion-row class="saalName">
                    <ion-col>{{ leinwand.leinwand_name }}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col *ngFor="let weekday of film.film_wochentage">
                      <ng-container *ngIf="leinwand.vorstellungen">
                        <div *ngFor="let vorstellung of leinwand.vorstellungen">
                          <ng-container *ngIf="vorstellung.tag_der_woche === weekday.tag_der_woche">
                            <div class="times">{{ vorstellung.uhrzeit }}</div>
                          </ng-container>
                        </div>
                      </ng-container>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ng-container>
          </ng-container>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>