<ion-backdrop *ngIf="isModalOpen" style="opacity: 0.3; z-index: 11;" (ionBackdropTap)="cancel()"></ion-backdrop>
<ion-backdrop *ngIf="isLoading" style="opacity: 0.3; z-index: 11;"></ion-backdrop>
<ion-spinner *ngIf="isLoading" name="lines" color="primary" class="custom-loader"></ion-spinner>
<ion-text *ngIf="filteredFilms.length === 0 && isLoading === false"
  style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 999;">
  Keine Filme verfügbar
</ion-text>

<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start">
      <ion-button class="actionSheet" (click)="presentActionSheet()" slot="icon-only">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </div>
    <ion-title> Aktuelle Filme </ion-title>
    <div slot="end">
      <ion-button class="actionSheet" (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>

  <ion-input #searchInput placeholder="Suche" [(ngModel)]="searchQuery" [@openClose]="!isSearchOpen ? true : false"
    [clearOnEdit]="true" class="search" (ngModelChange)="onSearchChange($event)">
    <ion-label style="padding-left: 21px;">
      <ion-icon name="search"></ion-icon>
    </ion-label>
    <ion-button class="filterBtn" id="filter-modal" (click)="setOpen(true)"><ion-label>Filter</ion-label></ion-button>
  </ion-input>
</ion-header>

<ion-modal [isOpen]="isModalOpen" class="modal" style="position: relative;">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="setOpen(false)"><ion-icon name="chevron-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>Filter</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="reset()" [strong]="true">Reset</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--padding-top: 15px;">
      <ion-grid>

        <ng-container *ngFor="let filter of filters; let i = index;">
          <ion-row style="margin: 0 5px;" (click)="showTags(i)">
            <ion-col style="font-weight: 600;">{{ filter }}</ion-col>
            <ion-col style="justify-content: end; display: flex;">
              <ion-icon *ngIf="filter !== 'Zeitraum' && filter !== 'Kinosaal'" class="open"
                [name]="showAllTags[i] ? 'chevron-up' : 'chevron-down'"></ion-icon>
            </ion-col>
            <ion-select class="open" *ngIf="filter === 'Zeitraum'" interface="action-sheet"
              [(ngModel)]="selectedFilters.tageAuswahl"
              (ngModelChange)="toggleSelection(selectedFilters.tageAuswahl, 'tageAuswahl')"
              placeholder="{{tageAuswahl[0].name}}">
              <ion-select-option *ngFor="let wahl of tageAuswahl" [value]="wahl.id">
                {{ wahl.name }}
              </ion-select-option>
            </ion-select>
            <ion-select class="open" *ngIf="filter === 'Kinosaal'" interface="action-sheet"
              [(ngModel)]="selectedFilters.leinwandHighlights"
              (ngModelChange)="toggleSelection(selectedFilters.leinwandHighlights, 'leinwandHighlights')"
              placeholder="{{leinwandHighlights[0].name}}">
              <ion-select-option *ngFor="let highlight of leinwandHighlights" [value]="highlight.id">
                {{ highlight.name }}
              </ion-select-option>
            </ion-select>
          </ion-row>

          <ng-container *ngIf="!showAllTags[i]">
            <ion-row *ngIf="filter === 'Genre' && selectedFilters.genresTags.length > 0" class="filterRow">
              <ion-col size="auto" *ngFor="let genre of genresTag" style="margin-top: 5px;">
                <ion-label class="tags selected" *ngIf="isSelected(genre.id, 'genresTags')"
                  [ngStyle]="{ backgroundColor: isSelected(genre.id, 'genresTags') ? '#a3d9d5' : '' }">
                  {{ genre.name }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="filter === 'Sound' && selectedFilters.flags.length > 0" class="filterRow">
              <ion-col size="auto" *ngFor="let flag of flags" style="margin-top: 5px;">
                <ion-label class="tags selected" *ngIf="isSelected(flag.id, 'flags')">{{ flag.name }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="filter === 'Barrierefreie Optionen' && selectedFilters.behindertenTags.length > 0"
              class="filterRow">
              <ion-col size="auto" *ngFor="let behindertenTag of behindertenTags" style="margin-top: 5px;">
                <ion-label class="tags selected" *ngIf="isSelected(behindertenTag.id, 'behindertenTags')">
                  {{ behindertenTag.name }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="filter === 'Extras' && selectedFilters.extras.length > 0" class="filterRow">
              <ion-col size="auto" *ngFor="let extra of extras" style="margin-top: 5px;">
                <ion-label class="tags selected" *ngIf="isSelected(extra.id, 'extras')">
                  {{ extra.name }}</ion-label>
              </ion-col>
            </ion-row>
          </ng-container>

          <ng-container *ngIf="showAllTags[i]">
            <ion-row *ngIf="filter === 'Genre'" class="filterRow">
              <ion-col size="auto" *ngFor="let genre of genresTag" style="margin-top: 5px;">
                <ion-label class="tags" [ngClass]="{ selected: isSelected(genre.id, 'genresTags') }"
                  (click)="toggleSelection(genre.id, 'genresTags')">{{ genre.name }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="filter === 'Sound'" class="filterRow">
              <ion-col size="auto" *ngFor="let flag of flags" style="margin-top: 5px;">
                <ion-label class="tags" [ngClass]="{ selected: isSelected(flag.id, 'flags') }"
                  (click)="toggleSelection(flag.id, 'flags')">{{ flag.name }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="filter === 'Barrierefreie Optionen'" class="filterRow">
              <ion-col size="auto" *ngFor="let behindertenTag of behindertenTags" style="margin-top: 5px;">
                <ion-label class="tags" [ngClass]="{ selected: isSelected(behindertenTag.id, 'behindertenTags') }"
                  (click)="toggleSelection(behindertenTag.id, 'behindertenTags')">
                  {{ behindertenTag.name }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="filter === 'Extras'" class="filterRow">
              <ion-col size="auto" *ngFor="let extra of extras" style="margin-top: 5px;">
                <ion-label class="tags" [ngClass]="{ selected: isSelected(extra.id, 'extras') }"
                  (click)="toggleSelection(extra.id, 'extras')">{{ extra.name }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="filter === 'Zeiten'" class="filterRow">
              <div style="width: 100%;">
                <div style="display: flex; justify-content: space-evenly;">
                  <ion-button (click)="openStartTimePicker()" class="timePickerBtn">{{ startTime }}</ion-button>
                  <ion-icon name="remove-outline" style="margin-top: 13px;"></ion-icon>
                  <ion-button (click)="openEndTimePicker()" class="timePickerBtn">{{ endTime }}</ion-button>
                </div>
              </div>
              <ion-modal [isOpen]="showStartTimePicker" (ionModalWillDismiss)="closeTimes()" class="timePickerModal">
                <ion-datetime *ngIf="showStartTimePicker" size="cover" presentation="time" locale="de-DE"
                  [(ngModel)]="startTime" (ngModelChange)="onTimeChange()"
                  hourValues="[10,11,12,13,14,15,16,17,18,19,20,21,22,23,0,1,2,3]" minuteValues="0">
                </ion-datetime>
              </ion-modal>
              <ion-modal [isOpen]="showEndTimePicker" (ionModalWillDismiss)="closeTimes()" class="timePickerModal">
                <ion-datetime *ngIf="showEndTimePicker" size="cover" presentation="time" locale="de-DE"
                  [(ngModel)]="endTime" (ngModelChange)="onTimeChange()"
                  hourValues="[10,11,12,13,14,15,16,17,18,19,20,21,22,23,0,1,2,3]" minuteValues="0">
                </ion-datetime>
              </ion-modal>
            </ion-row>
          </ng-container>
        </ng-container>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-button style="width: 90%; font-weight: 600; margin-bottom: 17px; margin-left: 17px;"
        (click)="confirm()">Bestätigen ({{filteredFilms.length}})</ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>




<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  </ion-refresher>
  <div *ngIf="!detailView" class="content">
    <ion-grid *ngFor="let film of filteredFilms; let i = index; let first = first" style="padding-top: 0;">
      <div class="filmContainer small" [ngStyle]="{'margin-top.px': (!isSearchOpen && first) ? 10 : null}">
        <div class="border">
          <ion-row style="
              justify-content: center;
              font-size: 17px;
              font-weight: 700;
              margin-bottom: 10px;
              color: #a3d9d5;">
            {{film.film_titel}}
            <span *ngIf="film.film_ist_ov === '1'" style="margin-left: 5px;">
              <ion-img class="OV" src="assets/images/united-kingdom.png">
              </ion-img>
            </span>
            <span *ngIf="film.film_neu === 'NEU'" style="margin-left: 5px;">
              <div class="new-dreieck small">
                <div class="new">NEU</div>
              </div>
            </span>
          </ion-row>
          <ion-row style="padding: 0 10px">
            <ion-col size="4">
              <ion-img src="{{film.film_cover_src}}"></ion-img>
            </ion-col>
            <ion-col class="description" size="8" *ngIf="!showFull[i]" (click)="showFull[i] = true">
              {{ ((film.film_beschreibung | extractText).length > 125 ?
              ((film.film_beschreibung | extractText).slice(0, 125) + '...') : (film.film_beschreibung | extractText))
              }}
            </ion-col>
            <ion-col class="description" size="8" *ngIf="showFull[i]" (click)="showFull[i] = false">{{
              film.film_beschreibung |
              extractText}}
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </div>
  <div *ngIf="detailView" class="content">
    <div class="filmContainer" *ngFor="let film of filteredFilms; let i = index; let first = first">
      <div class="border" [ngStyle]="{'margin-top.px': (!isSearchOpen && first) ? 10 : null}">
        <div class="filmSpecific">
          <span *ngIf="film.film_neu === 'NEU'">
            <div class="new-dreieck">
              <div class="new">NEU</div>
            </div>
          </span>
          <div *ngIf="film.film_ist_ov === '1'" class="titel">
            OV
            <ion-img class="OV" src="assets/images/united-kingdom.png"></ion-img>
          </div>
          <img src="{{film.film_cover_src}}" style="height: 50vh" />
          <span class="description">{{film.film_beschreibung | extractText}}</span>
          <div class="action">
            <!-- <button (click)="openExternalWebsite('https://cinecitta.' + film.filminfo_href)">Filminfos</button>
            <button (click)="openExternalWebsite('https://cinecitta.' + film.filminfo_href + '#tickets')">Tickets</button> -->
          </div>
        </div>
        <div (click)="openTimes(i)" style="display: flex; margin-top: 10px; justify-content: center">
          <ion-icon *ngIf="!isTimesOpen[i]" name="chevron-down"></ion-icon>
          <ion-icon *ngIf="isTimesOpen[i]" name="chevron-up"></ion-icon>
        </div>

        <ion-grid *ngIf="isTimesOpen[i]" [id]="'gridRef-' + i">
          <ion-row class="weekdays">
            <ion-col *ngFor="let weekday of film.film_wochentage">
              {{ weekday?.tag_text }}
            </ion-col>
          </ion-row>

          <ng-container *ngFor="let theater of film.theater">
            <ion-row class="theaterRow" *ngIf="hasScreenings(theater)">
              <ion-col><span class="theaterName">{{ theater.theater_name }}</span></ion-col>
            </ion-row>
            <ng-container *ngFor="let leinwand of theater.leinwaende">
              <ion-row>
                <ion-col *ngIf="film.film_ist_ov === '1' || !hasFlagName(leinwand, 'OV')">
                  <ion-row class="saalName">
                    <ion-col>{{ leinwand.leinwand_name }}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col *ngFor="let weekday of film.film_wochentage">
                      <ng-container *ngIf="leinwand.vorstellungen">
                        <div *ngFor="let vorstellung of leinwand.vorstellungen">
                          <ng-container *ngIf="vorstellung.tag_der_woche === weekday.tag_der_woche">
                            <div (click)="openExternalWebsite('https://cinecitta.' + vorstellung.href)"
                              [ngStyle]="{'color': vorstellung.deaktiviert ? 'grey' : getColor(vorstellung.belegung_ampel)}"
                              class="times">
                              {{ vorstellung.uhrzeit }}
                            </div>
                          </ng-container>
                        </div>
                      </ng-container>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ng-container>
          </ng-container>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>