.content {
  //background: linear-gradient(#121212, #a3d9d529, #121212);
  margin-top: 10px;
}
ion-toolbar.toolbar-closed {
  height: 0px !important;
}
.action-sheet {
  --background: none;
  --background-activated: none;
  float: right;

  ion-icon {
    color: #a3d9d5;
  }
}

