<ion-backdrop *ngIf="isLoading" style="opacity: 0.3; z-index: 11;"></ion-backdrop>
<ion-spinner *ngIf="isLoading" name="lines" color="primary" class="custom-loader"></ion-spinner>
<ion-text *ngIf="newFilms.length === 0 && isLoading === false"
  style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 999;">
  Keine Filme verfügbar
</ion-text>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Demnächst
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"> 
  </ion-refresher>
  <div class="content">
    <ion-grid *ngFor="let film of newFilms; let i = index; let first = first" style="padding-top: 0;">
      <div class="filmContainer small">
        <div class="border">
          <ion-row style="
              justify-content: center;
              text-align: center;
              font-size: 17px;
              font-weight: 700;
              margin-bottom: 10px;
              color: #a3d9d5;">
            {{film.film_titel}}
            <span *ngIf="film.filmchart_platzierung_aktuell !== null">Rang {{film.filmchart_platzierung_aktuell}}</span>
            <span *ngIf="film.film_ist_ov === '1'" style="margin-left: 5px;">
              <ion-img class="OV" src="assets/images/united-kingdom.png">
              </ion-img>
            </span>
          </ion-row>     
          <ion-row style="padding: 0 10px">
            <ion-col size="4">
              <ion-img style="margin-bottom: 5px;" src="{{film.film_cover_src}}"></ion-img>
              <span style="display:flex; justify-content: center; color: #a3d9d5;">{{film.film_centerstart_zeit}}</span>
            </ion-col>
            <ion-col class="description" size="8" *ngIf="!showFull[i] && film.film_beschreibung !== ''" (click)="showFull[i] = true">
              {{ ((film.film_beschreibung | extractText).length > 125 ?
              ((film.film_beschreibung | extractText).slice(0, 125) + '...') : (film.film_beschreibung | extractText))
              }}<span *ngIf="film.film_beschreibung === ''"> {{film.kurztext}}</span>
            </ion-col>
            <ion-col class="description" size="8" *ngIf="showFull[i] && film.film_beschreibung !== ''" (click)="showFull[i] = false">{{
              film.film_beschreibung |
              extractText}}
            </ion-col> 
          <ion-col class="description" size="8" *ngIf="film.film_beschreibung === ''">
            {{film.film_kurztext}}
          </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </div>

</ion-content>
