<ion-text *ngIf="newFilms.length === 0 && loadingService.isLoading === false"
  style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 999">
  Keine Filme verfügbar
</ion-text>

<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Demnächst </ion-title>
    <ion-buttons slot="end">
      <ion-button class="actionSheet" (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <app-search [isOpen]="isSearchOpen" [isNewFilms]="true" [excludedProperties]="excluded"
    (newFilmsChange)="search($event)"></app-search>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Demnächst</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"><ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Filmcontainer -->
  <main class="content">
    @if (!loadingService.isLoading) {
    <ion-grid *ngFor="let film of newFilms; let i = index; let first = first" style="padding-top: 0">
      <app-film-view-medium [film]="film" [isNewFilm]="true"></app-film-view-medium>
    </ion-grid>
    } @else {
    <ion-grid *ngFor="let n of [1, 2, 3, 4, 5]" style="padding-top: 0">
      <app-film-view-medium [film]="null" [isNewFilm]="true"></app-film-view-medium>
    </ion-grid>
    }
  </main>
</ion-content>