.content {
    //background: linear-gradient(#121212, #a3d9d529, #121212);
    margin-top: 10px;
}

.actionSheet {
    --background: none;
    --background-activated: none;
    float: right;

    ion-icon {
        color: #a3d9d5;
    }
}

.filmContainer {
    padding: 0 0 30px;


    &.small {
        padding: 0 0 10px;
    }

    .border {
        padding: 10px 0;
        box-shadow: 0 4px 16px #a3d9d558;
        border: 1px solid #a3d9d5;
        border-radius: 7px;
        width: 90%;
        margin: 0 auto;
    }

    .OV {
        width: 20px;
        vertical-align: bottom;
        display: inline-block;
    }

    img {
        width: 90vw;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .description {
        display: block;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    ion-grid {
        margin-top: 10px;
        text-align: center;
    }

    ion-icon {
        font-size: 25px;
    }
}