<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-top: 3%; padding-bottom: 3%">
    <ion-thumbnail class="thumbnail">
      <ion-img
        *ngIf="!isToggled"
        (click)="toggleImage()"
        class="profilPic"
        [src]="image">
      </ion-img>
      <ion-img
        *ngIf="isToggled"
        (click)="toggleImage()"
        class="profilPic"
        [src]="image2">
      </ion-img>
      <ion-icon
        *ngIf="!isToggled"
        (click)="toggleImage()"
        name="add-circle"
        id="photoSelectIcon">
      </ion-icon>
    </ion-thumbnail>
    <p style="text-align: center">Hans Dieter</p>
  </div>

  <!-- <ion-list>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="login(username, password)">Login</ion-button>
  <ion-button (click)="loadTicketHistory()"></ion-button>-->

  <ion-grid class="settingLinksGrid">
    <ion-row style="margin-top: 15%" id="ticketoverview">
      <ion-col size="1">
        <ion-icon name="ticket-outline" class="blueIcon"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <span class="settingLinkText">Aktuelle Tickets</span>
      </ion-col>
      <ion-col style="text-align: right">
        <ion-icon name="chevron-forward-outline" class="bottomIcon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row id="recommendations">
      <ion-col size="1">
        <ion-icon
          name="thumbs-up-outline"
          class="blueIcon"
          style="font-size: 20px; margin-left: 2px">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <span class="settingLinkText">Empfehlungen</span>
      </ion-col>
      <ion-col style="text-align: right">
        <ion-icon name="chevron-forward-outline" class="bottomIcon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row id="tickethistory">
      <ion-col size="1">
        <ion-icon name="receipt-outline" class="blueIcon"></ion-icon>
      </ion-col>
      <ion-col size="10" id="ticketHistory">
        <span class="settingLinkText">Buchungsverlauf</span>
      </ion-col>
      <ion-col style="text-align: right">
        <ion-icon name="chevron-forward-outline" class="bottomIcon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row id="settings">
      <ion-col size="1">
        <ion-icon name="settings-outline" class="blueIcon"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <span class="settingLinkText">Einstellungen</span>
      </ion-col>
      <ion-col style="text-align: right">
        <ion-icon name="chevron-forward-outline" class="bottomIcon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="height: 30vh; background-color: #a3d9d5">
    <div class="stats">
      <ion-row style="font-size: 24px" class="ion-justify-content-center">
        <ion-col size="1">
          <ion-icon name="stats-chart-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto" style="font-weight: 700">Deine Statistiken:</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7">Filme in diesem Monat:</ion-col>
        <ion-col style="text-align: end">{{filmsInCurrentMonth.length}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7">Filme in diesem Jahr:</ion-col>
        <ion-col style="text-align: end">{{filmsInCurrentYear.length}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7">Filme insgesamt:</ion-col>
        <ion-col style="text-align: end">{{history.length}}</ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-modal trigger="ticketHistory" #modal0>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Dein Ticketverlauf</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-grid *ngFor="let tickets of history">
          <ion-row
            style="
              justify-content: center;
              text-align: center;
              font-size: 17px;
              font-weight: 700;
              margin-bottom: 10px;
              color: #a3d9d5;">
            {{tickets.buchung_film_titel}}</ion-row>
          <ion-row>
            {{tickets.buchung_vorstellung_start_datum}}
            {{tickets.buchung_vorstellung_start_zeit}}
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-img
                [src]="'https://www.cinecitta.de/' + tickets.film_bild">
              </ion-img>
            </ion-col>
            <ion-col>
            <ion-row>
              {{tickets.buchung_vorstellung_leinwand}}
            </ion-row>
            <ion-row>
              {{tickets.buchung_sitz_reihe}}
            </ion-row>
            <ion-row>
              {{tickets.buchung_sitz_plaetze}}
            </ion-row>
            <ion-row>
              {{tickets.buchung_tickets_anzahl}}
            </ion-row>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="ticketoverview" #modal1 class="ticketoverview">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Deine Tickets</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-img *ngIf="cinecittaFilms.length > 0"
              src="https://static.cinecitta.de/portal/skins/cine_corvus/pics/theater/cinecitta.svg"
              style="width: 100px; margin: 20px 10px 0 10px"
              alt="CINECITTA'">
        </ion-img>
        <ion-grid style="margin: 0 10px 10px 10px" *ngFor="let tickets of cinecittaFilms; let last = last">
          <div class="ticketContainer" [class.last]="last"> <!-- *ngIf="tickets.transaktion.zeitlich !== 'vergangen' -->
            <ion-row class="titel">
              <ion-col size="7">{{tickets.buchung_film_titel}}</ion-col>
              <ion-col>{{tickets.buchung_vorstellung_start_datum}}</ion-col>
              <ion-col>{{tickets.buchung_vorstellung_start_zeit}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col style="position: absolute">
                <ion-thumbnail style="--size: 70px">
                  <ion-img
                  [src]="'https://www.cinecitta.de/' + tickets.film_bild">
                  </ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col>Kino:</ion-col>
              <ion-col>Reihe:</ion-col>
              <ion-col>Platz:</ion-col>
            </ion-row>
            <ion-row class="ion-align-items-start">
              <ion-col></ion-col>
              <ion-col>{{tickets.buchung_vorstellung_leinwand}}</ion-col>
              <ion-col>{{tickets.buchung_sitz_reihe}}</ion-col>
              <ion-col>{{tickets.buchung_sitz_plaetze}}</ion-col>
            </ion-row>
          </div>
        </ion-grid>
        <ion-img *ngIf="manhattanFilms.length > 0"
          src="https://static.cinecitta.de/portal/skins/cine_corvus/pics/theater/manhattan.svg"
          style="width: 120px; margin: 10px 20px 0 15px"
          alt="Manhattan">
        </ion-img>
        <ion-grid style="margin: 0 10px 10px 10px" *ngFor="let tickets of manhattanFilms; let last = last">
          <div class="ticketContainer" [class.last]="last"> <!-- *ngIf="tickets.transaktion.zeitlich !== 'vergangen'"-->
            <ion-row class="titel">
              <ion-col size="7">{{tickets.buchung_film_titel}}</ion-col>
              <ion-col>{{tickets.buchung_vorstellung_start_datum}}</ion-col>
              <ion-col>{{tickets.buchung_vorstellung_start_zeit}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col style="position: absolute">
                <ion-thumbnail style="--size: 70px">
                  <ion-img
                  [src]="'https://www.cinecitta.de/' + tickets.film_bild">
                  </ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col>Kino:</ion-col>
              <ion-col>Reihe:</ion-col>
              <ion-col>Platz:</ion-col>
            </ion-row>
            <ion-row class="ion-align-items-start">
              <ion-col></ion-col>
              <ion-col>{{tickets.buchung_vorstellung_leinwand}}</ion-col>
              <ion-col>{{tickets.buchung_sitz_reihe}}</ion-col>
              <ion-col>{{tickets.buchung_sitz_plaetze}}</ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="recommendations" #modal2 class="recommendations">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title style="padding-inline: 0">
            Deine Filmempfehlungen
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-grid style="margin: 10px">
          <ion-row style="margin-bottom: 30px">
            <ion-col>Tags:</ion-col>
            <ion-col class="tags">Horror</ion-col>
            <ion-col class="tags">Action</ion-col>
            <ion-col class="tags">Drama</ion-col>
            <ion-col class="tags">FSK 16</ion-col>
          </ion-row>
          <ion-row class="titel first">
            <ion-col>The Avengers Age of Ultron</ion-col>
            <ion-col (click)="openDetails(0)" style="text-align: right">
              <ion-icon
                *ngIf="!isOpen[0]"
                name="chevron-down"
                class="bottomIcon"
              ></ion-icon>
              <ion-icon
                *ngIf="isOpen[0]"
                name="chevron-up"
                class="bottomIcon"
              ></ion-icon>
            </ion-col>
          </ion-row>
          <div class="recommendationContainer" *ngIf="isOpen[0]">
            <ion-row>
              <ion-col class="tags match">Action</ion-col>
              <ion-col class="tags match">FSK16</ion-col>
              <ion-col class="tags">Drama</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="description"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ducimus hic ea ex modi illo, molestiae, enim vel repudiandae
                maxime doloremque a quisquam unde perspiciatis at iusto aliquid
                porro deleniti neque.
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="color: #a3d9d5; font-weight: 700; font-size: 18px"
                >Zum Film:</ion-col
              >
              <ion-col style="text-align: right">
                <ion-icon
                  name="arrow-forward-outline"
                  class="bottomIcon"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </div>
          <ion-row class="titel">
            <ion-col>13 Exorcism</ion-col>
            <ion-col (click)="openDetails(1)" style="text-align: right">
              <ion-icon
                *ngIf="!isOpen[1]"
                name="chevron-down"
                class="bottomIcon"
              ></ion-icon>
              <ion-icon
                *ngIf="isOpen[1]"
                name="chevron-up"
                class="bottomIcon"
              ></ion-icon>
            </ion-col>
          </ion-row>
          <div class="recommendationContainer" *ngIf="isOpen[1]">
            <ion-row>
              <ion-col class="tags match">Horror</ion-col>
              <ion-col class="tags">FSK18</ion-col>
              <ion-col class="tags">Schräg</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="description"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ducimus hic ea ex modi illo, molestiae, enim vel repudiandae
                maxime doloremque a quisquam unde perspiciatis at iusto aliquid
                porro deleniti neque.
              </ion-col>
            </ion-row>
            <ion-row (click)="openFilm(1)">
              <ion-col style="color: #a3d9d5; font-weight: 700; font-size: 18px"
                >Zum Film:</ion-col
              >
              <ion-col style="text-align: right">
                <ion-icon
                  name="arrow-forward-outline"
                  class="bottomIcon"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </div>
          <ion-row class="titel">
            <ion-col>Arielle die Meerjungfrau</ion-col>
            <ion-col (click)="openDetails(2)" style="text-align: right">
              <ion-icon
                *ngIf="!isOpen[2]"
                name="chevron-down"
                class="bottomIcon"
              ></ion-icon>
              <ion-icon
                *ngIf="isOpen[2]"
                name="chevron-up"
                class="bottomIcon"
              ></ion-icon>
            </ion-col>
          </ion-row>
          <div class="recommendationContainer" *ngIf="isOpen[2]">
            <ion-row>
              <ion-col class="tags">Animation</ion-col>
              <ion-col class="tags">FSK12</ion-col>
              <ion-col class="tags match">Drama</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="description"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ducimus hic ea ex modi illo, molestiae, enim vel repudiandae
                maxime doloremque a quisquam unde perspiciatis at iusto aliquid
                porro deleniti neque.
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="color: #a3d9d5; font-weight: 700; font-size: 18px"
                >Zum Film:</ion-col
              >
              <ion-col style="text-align: right">
                <ion-icon
                  name="arrow-forward-outline"
                  class="bottomIcon"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
