<div class="alphabet-scrollwheel" *ngIf="shouldShow">
  <div class="alphabet-container"
       [class.dragging]="isDragging">
    <div 
      *ngFor="let letter of alphabet"
      class="alphabet-letter"
      [class.available]="isLetterAvailable(letter)"
      [class.unavailable]="!isLetterAvailable(letter)"
      [class.highlighted]="currentHighlightedLetter === letter"
      (click)="onLetterClick(letter)"
      (touchstart)="onLetterTouchStart($event, letter)"
      (mousedown)="onLetterMouseDown($event, letter)"
    >
      {{ letter }}
    </div>
  </div>
</div>