<ion-grid class="border"> 
   <ion-row>
    <ion-col>Top 10</ion-col>
    <ion-col *ngIf="showSelect">
      <ion-select  [(ngModel)]="selectedItem" (ionChange)="getFilmsByFilter(selectedItem)">
        <ion-select-option *ngFor="let item of items" [value]="item.id">
          {{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let film of topFilms; let i = index" (click)="onFilmClick(film)">
    <ion-col size="2">{{i+1}}.</ion-col>
    <ion-col><a>{{film.film_titel}}</a></ion-col>
  </ion-row>
</ion-grid>
<!-- [ngStyle]="{'background-image': 'url(' + topFilms[0]?.film_cover_src + ')'}" -->