.border {
    box-shadow: 0 4px 16px #a3d9d558;
    border: 1px solid #a3d9d5;
    border-radius: 7px;
    width: 90%;
    margin: 20px auto;

    ion-row:not(.contentRow) {
        display: flex;
        align-items: center;
    }
}