.search-container {
  display: flex;

  .search {
    --padding-start: 35px;
    position: relative;
    pointer-events: auto;
    max-height: 65px;
    min-height: 0px;
  }

  ion-icon {
    font-size: 28px;
    color: #a3d9d5;
  }

  .filter-btn{
    margin-right: 18px;
  }
}