.searchContainer {
  display: flex;

  .search {
    --padding-start: 35px;
    position: relative;
    pointer-events: auto;
    height: 65px;
    min-height: 0px;
  }

  ion-icon {
    font-size: 28px;
    color: #a3d9d5;
  }

  .filterBtn{
    margin-right: 18px;
  }
}