<div class="searchContainer" [@openClose]="!isOpen ? true : false">
  <ion-searchbar appSearchBlur disabled="{{ !isOpen }}" class="search" maxlength="40" #searchInput placeholder="Search" [(ngModel)]="searchQuery"
    (ngModelChange)="onSearchChange($event)" showCancelButton="focus" [ngStyle]="{width: isNewFilms ? '100%' : '90%'}">
  </ion-searchbar>
  <ion-button disabled="{{ !isOpen }}" size="small" *ngIf="showFilterButton" class="filterBtn" id="filter-modal"
    (click)="emitSetOpen(true)" fill="clear">
    <ion-icon name="filter-outline" slot="icon-only"></ion-icon>
  </ion-button>
</div>