<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"><ion-icon name="chevron-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()" [strong]="true">Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-item>
      <ion-select label="Zeitraum" interface="action-sheet"  [ngModel]="filterService.filters().tageAuswahl" (ionChange)="updateFilter('tageAuswahl', $event.detail.value)">
        <ion-select-option *ngFor="let wahl of tageAuswahl" [value]="wahl.id"> {{ wahl.name }} </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Genre" [ngModel]="filterService.filters().genresTags" [multiple]="true" (ionChange)="updateFilter('genresTags', $event.detail.value)" placeholder="Alle">
        <ion-select-option *ngFor="let genre of genresTag" [value]="genre.id"> {{ genre.name }} </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Kinosaal" interface="action-sheet" [ngModel]="filterService.filters().leinwandHighlights" (ionChange)="updateFilter('leinwandHighlights', $event.detail.value)">
        <ion-select-option *ngFor="let highlight of leinwandHighlights" [value]="highlight.id"> {{ highlight.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Sound" [ngModel]="filterService.filters().flags" [multiple]="true" placeholder="Alle" (ionChange)="updateFilter('flags', $event.detail.value)">
        <ion-select-option *ngFor="let flag of flags" [value]="flag.id"> {{ flag.name }} </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Barrierefreie Optionen" [ngModel]="filterService.filters().behindertenTags" [multiple]="true" (ionChange)="updateFilter('behindertenTags', $event.detail.value)" placeholder="Alle">
        <ion-select-option *ngFor="let behindertenTag of behindertenTags" [value]="behindertenTag.id"> {{
          behindertenTag.name }} </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Extras" [ngModel]="filterService.filters().extras" [multiple]="true" (ionChange)="updateFilter('extras', $event.detail.value)" placeholder="Alle">
        <ion-select-option *ngFor="let extra of extras" [value]="extra.id"> {{ extra.name }} </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer style="position: fixed; bottom: 0;">
    <ion-button expand="block" (click)="confirm()" style="width: 90%; font-weight: 600; margin-bottom: 17px; margin-left: 17px">Bestätigen</ion-button>
</ion-footer>